/* general */

body {
    min-width: 768px;
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button-blue,
.button-brown {
    display: inline-block;
    padding: 7px 15px;
    
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    
    cursor: pointer;
}

.button-blue {
    background-color: #81b3d2;
}

.button-brown {
    background-color: #766357;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #669ec0;
}


.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-blue:active,
.button-brown:active {
    color: rgba(255, 255, 255, 0.3);   
}

/* index - header */

.main-header {
    min-width: 768px;
    position: relative;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 24px;
    padding-bottom: 26px;
}

.main-navigation li {
    width: 20%;
    text-align: left;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    text-align: right;
}

.main-navigation li:nth-child(3) {
    margin-left: auto;
}

.main-navigation a {
    line-height: 26px;
    font-weight: 700;
    color: #000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation .current,
.main-navigation .current:focus, 
.main-navigation .current:hover, 
.main-navigation .current:active {
    color: #766357;
}


/* index - welcome */

.welcome {
    padding-top: 74px;
    padding-bottom: 84px;
    
    background-image: url('../img/divider.png'), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center bottom, center top;
    background-size: 100% 40px, 100% auto;
}

.welcome img {
    display: block;
    margin: 0 auto;
    width: 458px;
    height: 352px;
}


/* index - features */

.features {
    padding-top: 60px;
    text-align: center;
}

.features b {
    width: 450px;
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    
    margin: 0 auto 42px;
}

.features > p {
    line-height: 26px;
    
    margin-bottom: 60px;
}

.features-list h3 {
    font-size: 21px;
    
    margin-bottom: 30px;
}

.features-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.features-row-main:not(:nth-of-type(2)) {
    height: 256px;
}

.features-row:last-of-type {
    background-color: #eee;
}

.features-item {
    width: 33.33333%;
    padding: 3%;
    box-sizing: border-box;
}

.features-image {
    width: 66.66666%;
    overflow: hidden;
}

.features-item-main {
    color: #fff;
    background-color: #81b3d2;
}

.features-item-icon h3 {
    position: relative;
    padding-top: 100px;
}

.features-item-icon h3::before {
    position: absolute;
    content: '';
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    
    background-repeat: no-repeat;
}

.features-item-icon:first-of-type h3::before {
    width: 75px;
    height: 72px;
    background-image: url('../img/icon-house.svg');
}

.features-item-icon:nth-of-type(2) h3::before {
    width: 74px;
    height: 72px;
    background-image: url('../img/icon-burger.svg');
}

.features-item-icon:nth-of-type(3) h3::before {
    width: 64px;
    height: 76px;
    bottom: 51px;
    background-image: url('../img/icon-gifts.svg');
}



/* index - booking */

.booking {
    padding-top: 56px;
}

.booking-description {
    text-align: center;
}

.booking-description b {
    display: block;
    margin-bottom: 36px;
    
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}

.booking-description p {
    width: 450px;
    margin: 0 auto 54px;
    
    line-height: 24px; 
}

.booking-search {
    padding: 0;
    
    width: 568px;
    height: 86px;
    
    font-size: 21px;
}

.booking-search:hover,
.booking-search:focus {
    background-color: #604e43;
    cursor: pointer;
}

.booking-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.booking-info {
    position: relative;
}

.booking-modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 568px;
    z-index: 2;
    
    background-color: #fff;
}

.booking-form {
    padding: 55px 30px;
}

.booking-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.booking-form p {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.booking-form label,
.booking-form input {
    align-self: center;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}

.booking-form input {
    padding-left: 15px;
    
    width: 345px;
    height: 38px;
    border: none;
    
    background-color: #f2f2f2;
}

.booking-form input:first-of-type {
    margin-left: auto;
}

.booking-form input[type='number'] {
    position: relative;
    width: 115px;
    margin-right: 31px;
    text-align: center;
}

.booking-form input[type='number']:last-of-type {
    margin-right: 0;
}

.booking-date svg {
    position: absolute;
    right: 10px;
    top: 9px;
}

label[for='booking-children'] {
    margin-right: 30px;
}


.booking-form .button-blue {
    width: 100%;
    height: 58px;
    padding: 0;
    
    font-size: 21px;
    line-height: 26px;
}

/* hotels - filter */

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.filter {
    padding-top: 30px;
    padding-bottom: 30px;
    
    background-image: url('../img/filter-background.jpg');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    
    color: #fff;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 160px;
}

.filter-form fieldset:nth-child(2) {
    margin-left: auto;
}

.filter-form legend {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 30px;
}

.filter-form ul {
    margin: 0;
    padding: 0;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 50px;
}

.filter-option input[type='checkbox'] + label::before,
.filter-option input[type='checkbox'] + label:focus::before,
.filter-option input[type='checkbox'] + label:hover::before {
    content: '';
    position: absolute;
    
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    
    background-image: url('../img/checkbox-off.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option input[checked] + label::before,
.filter-option input[checked] + label:hover::before,
.filter-option input[checked] + label:focus::before {
    height: 27px;
    background-image: url('../img/checkbox-on.png');
}

.filter-option {
    margin-bottom: 23px;
}

.filter-option input[type='checkbox']:disabled + label::before{
    opacity: 0.5;
}

.filter-range {
    margin-left: auto;
    width: 330px;
    
    color: #fff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    
    font-weight: 700;
    font-size: 16px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 2px;
    height: 22px;
    
    background: #fff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    
    line-height: 38px;
    vertical-align: top;
    
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    
    color: inherit;
    font: inherit;
    
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-contols .bar {
    width: 80%;
    height: 2px;
    
    background-color: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
    
    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    
    font: inherit;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000;
    
    background-color: #fff;
}

/* hotels - results */

.results {
    display: flex;
    justify-content: flex-start;
    padding-top: 34px;
    padding-bottom: 34px;
    border-bottom: 1px solid #e5e5e5;
}

.results h3 {
    align-self: center;
    margin-left: 48px;
}

.results ul {
    align-self: center;
    margin-left: 40px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.results-sort li {
    margin-left: 30px;
}

.results-sort li:first-of-type {
    margin-left: 0;
}

.results-sort a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #81b3d2;
}

.results-sort a:hover,
.results-sort a:focus {
    color: #81b3d2;
}

.results-sort a:active {
    color: #000;
    border: none;
}

a.results-sort-active,
a.results-sort-active:hover,
a.results-sort-active:focus,
a.results-sort-active:active {
    color: #81b3d2;
    border: none;
}

ul.results-buttons {
    margin-left: auto;
}

.results-buttons li {
    margin-left: 10px;
}

.arrow-up,
.arrow-down {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 6px;
    border-left-width: 6px; 
}

.arrow-up {
    border-bottom: 12px solid #cacaca;
}

.arrow-down {
    border-top: 12px solid #cacaca;
}

.result-buttons-active .arrow-down {
    border-top: 12px solid #81b3d2;
}

.results-button-active .arrow-up {
    border-bottom: 12px solid #81b3d2;
}

/* hotels - products */

.products-item {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.products-image {
    padding-top: 5px;
    margin-right: 24px;
}

.products-item-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.products-item-info div:last-child {
    margin-left: 6px;
}

.products-item h1 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.products-item p {
    margin: 0 0 10px 0;
    padding: 0;
}

.products-rating {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
}


.products-item-rating,
.products-item-rating:hover,
.products-item-rating:focus, 
.products-item-rating:active {
    margin-top: auto;
    
    color: #666;
    font-weight: 400;
    
    background-color: #f2f2f2;
    cursor: default;
}


.stars-four {
    width: 91px;
    height: 17px;
    
    background-image: url('../img/4-stars.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.stars-three {
    width: 64px;
    height: 17px;
    
    background-image: url('../img/3-stars.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.stars-two {
    content: '';
    width: 42px;
    height: 17px;
    
    background-image: url('../img/2-stars.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.visit-sedona {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    width: 230px;
    margin-left: 8%;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 152px;
    padding: 0;
    margin: 0 auto;
}

.social-links li:first-of-type {
    margin-left: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
    text-align: right;
    margin-right: 8%;
    width: 230px;
}

.footer-copyright svg {
    display: inline-block;
    width: 114px;
    height: 40px;
    vertical-align: middle;
    margin-left: 6px;
}

.footer-copyright path {
    fill: #000;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
    fill: #81b3d2;
}

.footer-copyright:active path {
    fill: #bdbbbc;
}

.footer-copyright a {
    color: #000;
}

.inner-footer {
    position: static;
}
